In [21]:
#Importing the necessary, required libraries and packages.
from sklearn.linear_model import LinearRegression,Lasso
from sklearn.metrics import *
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import scipy as scipy 
from sklearn.model_selection import train_test_split

In [15]:
#Reading the dataset using pandas and displaying the first five rows of the dataset.
car_dataset = pd.read_csv("car data.csv")
car_dataset.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [3]:
#Check if there are any missing values in the dataset.
car_dataset.isna().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [4]:
car_dataset.shape

(301, 9)

In [5]:
car_dataset.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [6]:
car_dataset['Transmission'].value_counts()

Manual       261
Automatic     40
Name: Transmission, dtype: int64

In [8]:
car_dataset['Seller_Type'].value_counts()

Dealer        195
Individual    106
Name: Seller_Type, dtype: int64

In [7]:
car_dataset['Fuel_Type'].value_counts()

Petrol    239
Diesel     60
CNG         2
Name: Fuel_Type, dtype: int64

In [16]:
car_dataset.replace({'Fuel_Type':{'Petrol':0,'Diesel':1,'CNG':2}},inplace=True)
car_dataset.replace({'Seller_Type':{'Dealer':0,'Individual':1}},inplace=True)
car_dataset.replace({'Transmission':{'Manual':0,'Automatic':1}},inplace=True)
car_dataset

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,0,0,0,0
1,sx4,2013,4.75,9.54,43000,1,0,0,0
2,ciaz,2017,7.25,9.85,6900,0,0,0,0
3,wagon r,2011,2.85,4.15,5200,0,0,0,0
4,swift,2014,4.60,6.87,42450,1,0,0,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,1,0,0,0
297,brio,2015,4.00,5.90,60000,0,0,0,0
298,city,2009,3.35,11.00,87934,0,0,0,0
299,city,2017,11.50,12.50,9000,1,0,0,0
300,brio,2016,5.30,5.90,5464,0,0,0,0

In [17]:
X = car_dataset.drop(['Car_Name','Selling_Price'],axis=1)
y = car_dataset['Selling_Price']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=1)

In [18]:
#Building a linear regression model.
lin_reg_model = LinearRegression()
lin_reg_model.fit(X_train,y_train)

LinearRegression()

In [19]:
training_data_prediction = lin_reg_model.predict(X_train)
error_prediction = r2_score(y_train,training_data_prediction)
error_prediction

0.8886588257606458

In [25]:
y_pred = lin_reg_model.predict(X_test)
y_pred

array([ 7.85580889,  2.97573606, -0.55614831,  4.20498034,  0.5136398 ,
        5.83225199,  1.96299658,  2.58522574,  7.78935127,  0.99318313,
        7.94609012,  3.53253383,  4.91207093,  4.66458772, -2.10402776,
        3.10979167,  7.80704602,  6.58466071,  6.91977339,  7.83900948,
        4.36870567,  4.07410066, 11.45709763,  8.09060849,  9.78328304,
        7.07371266,  3.89078047,  1.07638762, -0.57648838, -0.58399603,
        0.02299184])

In [28]:
lasso_reg = Lasso(alpha=0.01)  # You may need to tune the alpha parameter
lasso_reg.fit(X_train, y_train)
lasso_pred = lasso_reg.predict(X_test)
lasso_pred

array([ 7.74253164,  2.97682889, -0.50008499,  4.2015404 ,  0.57242558,
        5.83942556,  2.015413  ,  2.59398636,  7.82822867,  1.04884905,
        7.89948718,  3.54196175,  4.91374213,  4.32688168, -2.38911613,
        3.03649172,  7.76922488,  6.54317974,  6.81492341,  7.80043999,
        4.44645085,  4.10084068, 11.41720586,  7.98414023,  8.78410955,
        6.94626731,  3.92910754,  1.13172677, -0.5156888 , -0.52397926,
        0.07970531])

In [29]:
import numpy as np
linear_rmse = np.sqrt(mean_squared_error(y_test, y_pred))
lasso_rmse = np.sqrt(mean_squared_error(y_test, lasso_pred))

In [30]:
linear_rmse

2.097330222704597

In [31]:
lasso_rmse

1.975728772869658